{# app/Resources/views/index.html.twig #}
{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="main" style="margin: 0 20px;">
        <h1>{{ header }}</h1>
        {#<div class="container" style="margin-bottom: 10px;">#}
            {#<div class="col-lg-4">#}
                {#<a class="link" href="https://www.nypl.org/events/programs/2016/09/20/nicholson-baker?nref=56896">#}
                {#<img width="272" height="170" align="right" src="https://d2720ur5668dri.cloudfront.net/sites/default/files/styles/extralarge/public/Nicholson%20Baker_CREDIT_Jerry%20Bauer.JPG?itok=DouvskKL" alt="Nicholson Baker"/></a>#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#<p>LIVE from the NYPL: Nicholson Baker | Katherine Lanpher</p>#}
                {#<p>Tue, Sep 20 | 7 pm</p>#}
                {#<p>Schwarzman Building</p>#}
            {#</div>#}
        {#</div>#}
        <div class="event-search-form">
            {% block form %}
                {#, {'attr': {'class': 'form-inline'}}#}
                {% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}
                {{ form_start(form, {"attr": {"id": "events-search-form"}}) }}
                <div class="container">
                    <div class="col-sm-3">
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_label(form.audience) }}
                        {{ form_widget(form.audience) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_label(form.date) }}
                        {{ form_widget(form.date) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_label(form.submit, '') }}
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            {% endblock %}
        </div>
        <p>
            {#<div id="position-text"></div>#}
            {#<div>Events near me:</div>#}
        </p>
        <div id="ajax-response"></div>
        <div class="container" id="events-list">
            <div class="col-md-3">
                {% for key,facet in facets %}
                    <div class="facet" style="padding-bottom: 10px;">
                        <h4>{{ key | capitalize }}</h4>
                        <div class="list-group">
                        {%  for term in facet %}
                            {% if term.count > 0 %}
                                <button type="button" class="list-group-item list-group-item-action">
                                    {{ term.name }}<span class="label label-default pull-right">{{ term.count | number_format(0, '.', ',') }}</span>
                                </button>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {%  endfor %}
            </div>
            <div class="col-md-9">
                <table class="table table-striped">
                    {#<tr class="row">#}
                        {#<th>When</th>#}
                        {#<th>What</th>#}
                        {#<th>Where</th>#}
                        {#<th>&nbsp;</th>#}
                    {#</tr>#}
                    {%  for item in list %}
                    <tr class="row">
                        <td width="200"><span class="glyphicon glyphicon-calendar"></span> {{ item.date_time_start }}
                            <div style="padding-top: 10px;" class="small">{{ item.target_audience }}</div>
                            <div style="padding-top: 10px;" class="small">Ages: {{ item.age.0 }}</div>
                        </td>
                        <td width="500">{{ item.title }}
                            {% if item.body is defined %}
                                <div class="small">{{ item.body | truncate(200, true, '...') }}</div>
                            {% endif %}
                            {% if item.registration_method is defined %}
                                <div class="small" style="padding-top: 10px;">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <strong> Registration: {{ item.registration_method }}</strong>
                                </div>
                            {% endif %}
                        </td>
                        <td width="200">
                            <span class="glyphicon glyphicon-map-marker"></span> {{ item.library_name }}
                        </td>
                        <td width="50" style="text-align: center;">
                            <span style="font-size: 4em;" class="glyphicon {{ item.icon }}"></span>
                            <div style="padding-top: 10px;" class="small">{{ item.event_type }}</div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
