{# app/Resources/views/index.html.twig #}

{% use "page/left.html.twig" %}
{% use "page/right.html.twig" %}
{% use "page/footer.html.twig" %}

{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% block header %}
        <script async src="https://header.nypl.org/dgx-header.min.js" type="application/javascript"></script>
    {% endblock %}

    {{ block('left') }}
    {{ block('right') }}

    {% block main %}
        <div id="main">
            <div class="title">
                <div class="sectionTitle">
                    {{ page_title }}
                </div>
            </div>
        </div>
    {% endblock %}

    {{ block('footer') }}
{% endblock %}
